# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_min: -20
position_endstop: -20
position_max: 300
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_min: -1
position_endstop: -1
position_max: 290
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_max: 320
position_min: -6
homing_speed: 4
second_homing_speed: 1
homing_retract_dist: 2.0

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 34.406
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
# tuned for stock hardware with 200 degree Celsius target
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100



#########################################################################################
## Probe & Sensor ##
#########################################################################################

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -37
y_offset: -13
#z_offset: 0.0
speed: 20
samples: 2
sample_retract_dist: 8.0
stow_on_each_sample = false #high speed for bltouch

[safe_z_home]
home_xy_position: 150,150 # Change coordinates to the center of your print bed
speed: 50.0
z_hop: 10 # Move up 10mm
z_hop_speed: 10

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 33,7 #need to handle head distance with bl_touch
mesh_max: 263,277 #max probe range
probe_count: 7,7
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[bed_screws]
screw1:30,10
screw1_name:1
screw2:270,10
screw2_name:2
screw3:270,250
screw3_name:3
screw4:30,250
screw4_name:4

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: PA4

#########################################################################################
## Active Print Macros ##
#########################################################################################

[gcode_macro PAUSE]
#description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 


[gcode_macro RESUME]
#description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
#description: Cancel the running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
    {% if "xyz" in printer.toolhead.homed_axes %}
  G91
  G1 Z4.5 F300
  G90
    {% else %}
    {action_respond_info("Printer not homed")}
    {% endif %}
  G28 X Y
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  G1 Y{y_park} F2000
  M84
  CANCEL_PRINT_BASE

[gcode_macro SET_ACTIVE_PRINT_OFFSET]
#description: Sets the Z Offset to custom value from previous prints
gcode:
  SET_GCODE_OFFSET Z_ADJUST=-1.100 MOVE=1

#########################################################################################
## Heating Macros ##
#########################################################################################
[gcode_macro HEAT]
#description: Heats up the extruder to get ready for Filament Change
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200
  HOME_CHECK
  G1 Z10 F3000

[gcode_macro COOL]
#description: Turns off all heaters
gcode:
  TURN_OFF_HEATERS

#########################################################################################
## Extruder Macros ##
#########################################################################################

[gcode_macro CLEAN_NOZZLE_LOCATION]
#description: Moves the Extruder to cleaning loaction
gcode:
  G1 X-20 Y0 Z100 F4200

[gcode_macro PID_EXTRUDER]
#description: PID Tune for the Extruder
gcode:
  PID_CALIBRATE HEATER=extruder TARGET=200
  TURN_OFF_HEATERS
  SAVE_CONFIG

#########################################################################################
## Sensor Macros ##
#########################################################################################
[gcode_macro _DISABLE_FS]
#description: Disables filament sensor that might trigger an M600 in the middle of a load/unload/M600...
gcode:
  SET_FILAMENT_SENSOR SENSOR=RunoutSensor ENABLE=0

[gcode_macro _ENABLE_FS]
#description: Enables filament sensor
gcode:
  SET_FILAMENT_SENSOR SENSOR=RunoutSensor ENABLE=1

#########################################################################################
## Bed Calibration Macros ##
#########################################################################################
[gcode_macro BED_LEVEL]
gcode:
#description: Heats bed, makes a mesh and saves it
  M140 S60
  G28
  M190 S60
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE
  TURN_OFF_HEATERS
  G28
  SAVE_CONFIG

[gcode_macro PID_BED]
#description: PID Tune for the Bed
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro DISABLE_STEPPERS]
#description: Disables the printers stepper motors
gcode:
  M84 X Y E

[gcode_macro ADJUST_BED_SCREWS]
#description: Heats bed and starts process to level the bed with the screws
gcode:
  M140 S60
  HOME_CHECK
  M190 S60


############
# Mainsail Stuffs
############

[include mainsail.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.900
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.287500, 0.145000, 0.118750, 0.067500, 0.077500, 0.057500, 0.128750
#*# 	  0.160000, 0.052500, 0.051250, -0.016250, -0.003750, -0.015000, 0.071250
#*# 	  0.115000, 0.002500, -0.007500, -0.071250, -0.070000, -0.098750, -0.045000
#*# 	  0.096250, 0.005000, -0.008750, -0.070000, -0.030000, -0.070000, -0.017500
#*# 	  0.076250, -0.005000, -0.011250, -0.060000, -0.023750, -0.058750, -0.027500
#*# 	  0.100000, 0.000000, 0.030000, -0.028750, -0.012500, -0.056250, -0.020000
#*# 	  0.112500, 0.033750, 0.037500, 0.010000, 0.051250, 0.013750, 0.098750
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 33.0
#*# max_x = 262.98
#*# min_y = 7.0
#*# max_y = 277.0
